<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Alunos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        button {
            margin: 10px 0;
        }
        .card{
         color: white;
          display: flex;
          flex-direction: column;
          width:auto;
          padding: 20px;
          background-color: aquamarine;
          height: auto;
          border-radius: 16px;
        }
    </style>
</head>
<body>
    <h1>Exemplo de Requisições para Registro de Alunos</h1>


    <form action="/alunos" method="post" class="card" style="background-color: deepskyblue;">
      <fieldset>
          <legend>Cadastrar aluno:</legend>
          <label for="matricula">Matricula:</label>
          <input required type="text" id="matricula" name="matricula">


          <label for="nome">Nome do Aluno:</label>
          <input  required type="text" id="nome" name="nome">

          <label for="dataNascimento">Nascimento (dd/mm/aaaa):</label>
          <input required type="date" id="dataNascimento" name="dataNascimento">


          <label for="email">E-Mail:</label>
          <input required type="text" id="email" name="email">
      </fieldset>

      
      

      <div class="flex">
          <button type="submit">Cadastrar</button>
          <button type="reset">Limpar Campos</button>
      </div>


    </form>



    <form action="/alunos" method=""  class="card" style="background-color: rgb(131, 78, 175);">
      <fieldset>
          <legend>Atualizar aluno:</legend>
          <label for="matricula">Matricula:</label>
          <input required type="text" id="matricula" name="matricula">


          <label for="nome">Nome do Aluno:</label>
          <input required type="text" id="nome" name="nome">

          <label for="dataNascimento">Nascimento (dd/mm/aaaa):</label>
          <input required type="date" id="dataNascimento" name="dataNascimento">


          <label for="email">E-Mail:</label>
          <input required type="text" id="email" name="email">
      </fieldset>

      
      

      <div class="flex">
          <button type="submit">Atualizar</button>
          <button type="reset">Limpar Campos</button>
      </div>


    </form>

    <button onclick="getAlunos()">Listar Alunos (GET)</button>
    <button onclick="registrarAluno()">Registrar Aluno (POST)</button>
    <button onclick="atualizarAluno()">Atualizar Aluno (PUT)</button>
    <button onclick="deletarAluno()">Remover Aluno (DELETE)</button>

    <div id="response"></div>

    <script>
        // Função para realizar uma requisição GET para listar os alunos
        function getAlunos() {
            fetch('http://localhost:3000/alunos')
                .then(response => response.json())
                .then(data => document.getElementById('response').innerText = JSON.stringify(data, null, 2))
                .catch(error => console.error('Erro:', error));
        }

        // Função para realizar uma requisição POST para registrar um novo aluno
        function registrarAluno() {
          
            fetch('http://localhost:3000/alunos', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ matricula: '20241001', nome: 'Maria Silva', email: 'maria@exemplo.com', dataNascimento: '2000-05-15' })
            })
            .then(response => response.json())
            .then(data => document.getElementById('response').innerText = JSON.stringify(data, null, 2))
            .catch(error => console.error('Erro:', error));
        }

        // Função para realizar uma requisição PUT para atualizar os dados de um aluno
        function atualizarAluno() {
            fetch('http://localhost:3000/alunos/1', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ matricula: '20241001', nome: 'Maria Silva Atualizada', email: 'maria_atualizada@exemplo.com', dataNascimento: '2000-05-15' })
            })
            .then(response => response.json())
            .then(data => document.getElementById('response').innerText = JSON.stringify(data, null, 2))
            .catch(error => console.error('Erro:', error));
        }

        // Função para realizar uma requisição DELETE para remover um aluno
        function deletarAluno() {
            fetch('http://localhost:3000/alunos/1', {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => document.getElementById('response').innerText = JSON.stringify(data, null, 2))
            .catch(error => console.error('Erro:', error));
        }

        
        
        </script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>